@font-face {
    font-family: tt_coves_thin;
    src: url(../assets/fonts/TT\ Hoves\ Light.otf)
}

.header{
    background-color: violet;
}

.header_cont{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;
    /* background-color: aqua; */
    height: 89px;
}

.header_nav_link_txt{
    font-family: tt_coves_thin;
}

.header_logo_cont{
  /* background-color: RED; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_logo_cont > img{
    height: 50px;
}

.header_nav_cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
}

.header_cart_icons{
    height: 20px;
    padding: 0 10px;
}

.header_cart_cont{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    /* width: 200px; */
}

.header_nav_link{
    text-decoration: none;
    color: #000;
    font-weight: 400;
    font-size: 16px;
}

.header_nav_link:hover{
    color: #B05B3B;
}