.home{
    /* height: auto; */
    margin: 0 0;
}

.home_slider{
    height: 100vh;
    /* background-color: red; */
    display: flex;
    /* background-image: url("../assets/img/girl-holds-fashion-shopping-bag-beauty_1150-13673.jpg"); */
    justify-content: space-around;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-item{
    background-color: aliceblue;
    width: 100%;
}

.home_text_cont{
    display: grid;
    place-items: center;
}

.home_img_cont{
    display: grid;
    place-items: center;
}

.img_cont{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
}

.jumbotron{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 90px;
    height: 290px
}

.jumbo_items_cont{
    display: flex;
    align-items: center;
    width: 270px;
    margin: 0 !important;
    justify-content: space-evenly;
    height: 44px;
    /* background: red */
}

.grid_list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: px;
}

.jumbo_img{
    height: 100%;
    /* padding-right: 10px !important; */
}

.jumbo_para_second{
    font-size: 14px;
}

.jumbo_items{
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: gray; */
    /* width: 219px; */
    height: 100%;
}

.jumbo_para{
    padding: 0 !important;
    margin: 0;
}
.daily_deals_head_cont{
    height: 120px
}

